<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Add additional person address</title>
</head>
<body>

<div th:replace="fragments/links :: links"></div>

<h1>Add additional person address</h1>

<a th:href="@{/subject/editPerson(id=${person.person})}"><h3 th:text="${person.firstName} + '  ' + ${person.lastName}"></h3></a>

<form action="#" th:action="@{/subject/addAdditionalPersonAddress}" method="post">
    <table>

        <tr>
            <td><label>Country</label></td>
            <td><input type="text" th:field="*{address.country}" /></td>
        </tr>
        <tr>
            <td><label>County</label></td>
            <td><input type="text" th:field="*{address.county}" /></td>
        </tr>
        <tr>
            <td><label>City/town</label></td>
            <td><input type="text" th:field="*{address.townVillage}" /></td>
        </tr>
        <tr>
            <td><label>Street address</label></td>
            <td><input type="text" th:field="*{address.streetAddress}" /></td>
        </tr>
        <tr>
            <td><label>Zipcode</label></td>
            <td><input type="text" th:field="*{address.zipcode}" /></td>
        </tr>

        <tr>
            <td><input type="button" onclick="history.back();" value="Back" /></td>
            <td><input type="submit" value="Save" /></td>
        </tr>

    </table>
</form>

</body>
</html>