<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new enterprise contact</title>
</head>
<body>

<div th:replace="fragments/links :: links"></div>

<h1>Add new enterprise contact</h1>

<a th:href="@{/subject/editEnterprise(id=${enterprise.enterprise})}"><h3 th:text="${enterprise.name}"></h3></a>

<form action="#" th:action="@{/subject/addNewEnterpriseContact}" method="post">
    <table>

        <tr>
            <td><label>Contact type</label></td>
            <td>
                <select th:field="${contact.contactTypeFk}">
                    <div>
                        <option th:each="contactType, typeStat : ${contactTypeListWrapper.contactTypeList}"
                                th:object="${contactTypeListWrapper.contactTypeList[__${typeStat.index}__]}"
                                th:value="*{contactType}" th:text="*{typeName}"></option>
                    </div>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Contact value</label></td>
            <td><input type="text" th:field="*{contact.valueText}" /></td>
        </tr>
        <tr>
            <td><label>Contact note</label></td>
            <td><input type="text" th:field="*{contact.note}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

</body>
</html>