<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit enterprise</title>
</head>
<body>

<div th:replace="fragments/links :: links"></div>

<h1>Edit enterprise</h1>

<form action="#" th:action="@{/subject/editEnterprise}" method="post">
    <table>
        <tr>
            <td><label><h3>Enterprise details</h3></label></td>
        </tr>

        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{enterprise.name}" /></td>
        </tr>
        <tr>
            <td><label>Full name</label></td>
            <td><input type="text" th:field="*{enterprise.fullName}" /></td>
        </tr>

        <tr>
            <td><label><h3>Main address</h3></label></td>
        </tr>

        <tr>
            <td><label>Country</label></td>
            <td><input type="text" th:field="*{address.country}" /></td>
        </tr>
        <tr>
            <td><label>County</label></td>
            <td><input type="text" th:field="*{address.county}" /></td>
        </tr>
        <tr>
            <td><label>City/town</label></td>
            <td><input type="text" th:field="*{address.townVillage}" /></td>
        </tr>
        <tr>
            <td><label>Street address</label></td>
            <td><input type="text" th:field="*{address.streetAddress}" /></td>
        </tr>
        <tr>
            <td><label>Zipcode</label></td>
            <td><input type="text" th:field="*{address.zipcode}" /></td>
        </tr>
        <tr>
            <td><a th:href="@{/subject/additionalEnterpriseAddresses(id=${enterprise.enterprise})}">Additional addresses</a></td>
        </tr>

        <div th:replace="fragments/contacts :: contacts"></div>
        <tr>
            <td><a th:href="@{/subject/addNewEnterpriseContact(id=${enterprise.enterprise})}">Add new contact</a></td>
        </tr>

        <tr>
            <td><label><h3>Enterprise attributes</h3></label></td>
        </tr>

        <tr th:each="subjectAttribute, stat : ${subjectAttributeListWrapper.subjectAttributeList}" >
            <div th:each="subjectAttributeType, typeStat : ${subjectAttributeTypeListWrapper.subjectAttributeTypeList}">
                <td th:if="${subjectAttributeTypeListWrapper.subjectAttributeTypeList[__${typeStat.index}__].subjectAttributeType == subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].subjectAttributeTypeFk}"><label th:text="*{subjectAttributeTypeListWrapper.subjectAttributeTypeList[__${stat.index}__].typeName}"></label></td>
            </div>

            <td th:if="${subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].dataType == 1}"><input type="text" th:field="*{subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].valueText}" /></td>
            <td th:if="${subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].dataType == 2}"><input type="text" th:field="*{subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].valueNumber}" /></td>
            <td th:if="${subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].dataType == 3}"><input type="text" th:field="*{subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].valueDate}" /></td>
        </tr>

        <tr />

        <tr>
            <td><label>Customer</label></td>
            <td><input type="checkbox" th:name="${isCustomer}? '' : 'isCustomer'" th:checked="*{isCustomer}" th:disabled="${isCustomer}"/></td>
        </tr>

        <div th:if="${isCustomer}">
            <tr>
                <td><label><h3>Customer attributes</h3></label></td>
            </tr>

            <tr th:each="subjectAttribute, cusStat : ${customerAttributeListWrapper.customerAttributeList}" >
                <div th:each="subjectAttributeType, cusTypeStat : ${customerAttributeTypeListWrapper.subjectAttributeTypeList}">
                    <td th:if="${customerAttributeTypeListWrapper.subjectAttributeTypeList[__${cusTypeStat.index}__].subjectAttributeType == customerAttributeListWrapper.customerAttributeList[__${cusStat.index}__].subjectAttributeTypeFk}"><label th:text="*{customerAttributeTypeListWrapper.subjectAttributeTypeList[__${cusStat.index}__].typeName}"></label></td>
                </div>

                <td th:if="${customerAttributeListWrapper.customerAttributeList[__${cusStat.index}__].dataType == 1}"><input type="text" th:field="*{customerAttributeListWrapper.customerAttributeList[__${cusStat.index}__].valueText}" /></td>
                <td th:if="${customerAttributeListWrapper.customerAttributeList[__${cusStat.index}__].dataType == 2}"><input type="text" th:field="*{customerAttributeListWrapper.customerAttributeList[__${cusStat.index}__].valueNumber}" /></td>
                <td th:if="${customerAttributeListWrapper.customerAttributeList[__${cusStat.index}__].dataType == 3}"><input type="text" th:field="*{customerAttributeListWrapper.customerAttributeList[__${cusStat.index}__].valueDate}" /></td>
            </tr>

            <tr />
        </div>


        <tr>
            <td><p> <input type="submit" value="Submit" /> </p></td>
        </tr>
    </table>
</form>

</body>
</html>