<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit employee</title>

    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>
<body>

<div th:replace="fragments/links :: links"></div>

<h1>Edit employee</h1>

<form action="#" th:action="@{/subject/editEmployee}" method="post">
    <table>
        <tr>
            <td><h3><label>Employee details</label></h3></td>
        </tr>
        <tr>
            <td><label>First Name</label></td>
            <td><input type="text" th:field="*{person.firstName}" /></td>
        </tr>
        <tr>
            <td><label>Last name</label></td>
            <td><input type="text" th:field="*{person.lastName}" /></td>
        </tr>
        <tr>
            <td><label>Identity code</label></td>
            <td><input type="text" th:field="*{person.identityCode}" /></td>
        </tr>
        <tr>
            <td><label>Birth Date</label></td>
            <td><input class="form-control" placeholder="yyyy-mm-dd" type="text" th:field="*{person.birthDate}"/></td>
        </tr>

        <tr>
            <td><label>Enterprise</label></td>
            <td><select name="selectedEnterprise" id="selectedEnterprise" onchange="loadStructureUnits();">
                <option th:each="enterprise : ${enterprises}" th:value="${enterprise.enterprise}" th:text="${enterprise.name}" th:selected="${enterprise.enterprise == employee.enterpriseFk}" >Enterprise</option>
            </select></td>
        </tr>
        <tr>
            <td><label>Structure unit</label></td>
            <td><select name="selectedStructUnit" id="selectedStructUnit">
                <option th:each="structUnit : ${structUnits}" th:value="${structUnit.structUnit}" th:text="${structUnit.name}" th:selected="${structUnit.structUnit == employee.structUnitFk}">Structure unit</option>
            </select></td>
        </tr>

        <div th:replace="fragments/employeeRoles :: employeeRoles"></div>
        <tr>
            <td><a th:href="@{/subject/addNewEmployeeRole(id=${employee.employee})}">Add new employee role</a></td>
        </tr>

        <tr>
            <td><label><h3>Main address</h3></label></td>
        </tr>
        <tr>
            <td><label>Country</label></td>
            <td><input type="text" th:field="*{address.country}" /></td>
        </tr>
        <tr>
            <td><label>County</label></td>
            <td><input type="text" th:field="*{address.county}" /></td>
        </tr>
        <tr>
            <td><label>City/town</label></td>
            <td><input type="text" th:field="*{address.townVillage}" /></td>
        </tr>
        <tr>
            <td><label>Street address</label></td>
            <td><input type="text" th:field="*{address.streetAddress}" /></td>
        </tr>
        <tr>
            <td><label>Zipcode</label></td>
            <td><input type="text" th:field="*{address.zipcode}" /></td>
        </tr>
        <tr>
            <td><a th:href="@{/subject/additionalEmployeeAddresses(id=${employee.employee})}">Additional addresses</a></td>
        </tr>

        <div th:replace="fragments/contacts :: contacts"></div>
        <tr>
            <td><a th:href="@{/subject/addNewEmployeeContact(id=${employee.employee})}">Add new contact</a></td>
        </tr>

        <tr>
            <td><label><h3>Employee attributes</h3></label></td>
        </tr>

        <tr th:each="subjectAttribute, stat : ${subjectAttributeListWrapper.subjectAttributeList}" >
            <div th:each="subjectAttributeType, typeStat : ${subjectAttributeTypeListWrapper.subjectAttributeTypeList}">
                <td th:if="${subjectAttributeTypeListWrapper.subjectAttributeTypeList[__${typeStat.index}__].subjectAttributeType == subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].subjectAttributeTypeFk}"><label th:text="*{subjectAttributeTypeListWrapper.subjectAttributeTypeList[__${stat.index}__].typeName}"></label></td>
            </div>

            <td th:if="${subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].dataType == 1}"><input type="text" th:field="*{subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].valueText}" /></td>
            <td th:if="${subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].dataType == 2}"><input type="text" th:field="*{subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].valueNumber}" /></td>
            <td th:if="${subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].dataType == 3}"><input type="text" th:field="*{subjectAttributeListWrapper.subjectAttributeList[__${stat.index}__].valueDate}" /></td>
        </tr>

        <tr />

        <tr>
            <td><p> <input type="submit" value="Submit" /> </p></td>
        </tr>
    </table>
</form>


<script th:inline="javascript">

    /*<![CDATA[*/

    $(document).ready(function(){
        var date_input=$('input[name="birthDate"]');
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    });


    loadStructureUnits = function() {
        $.getJSON("http://localhost:8080/subject/search/structureUnits?enterpriseID=" + $( "#selectedEnterprise" ).val(), function(data) {
            $("#selectedStructUnit option").remove(); // Remove all <option> child tags.
            $.each(data, function(index, item) { // Iterates through a collection
                $("#selectedStructUnit").append( // Append an object to the inside of the select box
                        $("<option></option>") // Yes you can do this.
                                .text(item.name)
                                .val(item.structUnit)
                );
            });
        });
    };

    /*]]>*/
</script>


</body>
</html>